@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-lenen: #eae0d5;
  --color-obsidian: #0a0908;
  --color-obsidian-opacity: rgba(10, 9, 8, .6);
  --color-harbor: #22333b;
  --color-dune: #c6ac8e;
  --color-dark-tan: #6C0E23;
}